@import "../style.css";

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  width: 320px;
  text-align: center;
}

form label {
  text-align: start;
  font-weight: 600;
  color: var(--dark-gray);
}

.avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto 1rem;
  background-color: var(--light-gray);
  border-radius: 50%;
}

.auth-title {
  font-size: var(--text-lg);
  font-weight: bold;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
}

button {
  padding: 0.5rem;
  border: 2px solid var(--black);
  border-radius: 8px;
  background: var(--white);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--black);
  color: var(--white);
}

.logo-image {
  height: 42px; /* or adjust based on design */
  margin-bottom: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-switch {
  font-size: var(--text-sm);
  margin-top: 1rem;
}

.auth-switch span {
  color: var(--black);
  cursor: pointer;
  text-decoration: underline;
}
