@import "../style.css";

.onboarding-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 0 20px;
  font-family: var(--font-base);
  text-align: center;
}

.logo-image {
  height: 32px; /* or adjust based on design */
  margin-bottom: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.website-name {
  font-weight: 600;
}

.step-img {
  margin: 0 auto 32px;
  display: block;
  height: 40px;
}

h1 {
  font-size: var(--text-xl);
  font-weight: 700;
  margin-bottom: 4px;
}

.subtext {
  font-size: var(--text-sm);
  color: var(--dark-gray);
  margin-bottom: 32px;
}

.input-field {
  text-align: left;
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  font-size: var(--text-base);
  margin-bottom: 4px;
  font-weight: 500;
}

.input-field input {
  width: 100%;
  padding: 10px;
  font-size: var(--text-base);
  border-radius: 8px;
  border: 1px solid var(--light-gray);
}

.next-button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-radius: 999px;
  border: 2px solid var(--black);
  background: var(--white);
  cursor: pointer;
  transition: background 0.3s ease;
}

.next-button:hover {
  background: var(--black);
  color: var(--white);
}

.form-wrapper {
  max-width: 420px;
  /* margin: 0 auto; */
}

.input-field {
  width: 100%;
  max-width: 320px;
  margin: 0 auto 20px;
  text-align: left;
}

.input-field label {
  display: block;
  font-size: var(--text-base);
  margin-bottom: 4px;
  font-weight: 500;
}

.input-field input {
  width: 100%;
  padding: 10px;
  font-size: var(--text-base);
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
}

.next-button {
  width: 100%;
  max-width: 320px;
}
